.settings-title {
    margin-bottom: .7em;
}

.header {
    font-size: larger;
    font-weight: 300;
    margin: 0.75em 0 1.25em;
    display: block;
}

.input-name{
    font-weight: 300;
}

.setting-line-flex {
    display: flex;
    justify-content: space-between;
    margin: .8em .3em;
}

.setting-labels{
    font-weight: 300;
}
.setting-line {
    margin: .8em .3em;
}

.setting-part {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 1em;
}

.name-input {
    padding: 15px;
    margin-left: 1em;
    width: 60vw;
    height: 1.5em;
}

.time-input {
    padding: 5px;
    margin: 0 .5em;
    font-family: system-ui;
}

.timeset-name {
    margin-right: .5em;
}

.end-time {
    margin-left: 14px;
}

.button-container {
    display: flex;
    justify-content: end;
}

.add-routine{
    background: rgba(232, 237, 223);;
    border-radius: 6px;
    padding: 0.6em 0.9em;
    margin-top: 5px;
}