.rc-checkbox:hover .rc-checkbox-inner,
.rc-checkbox-input:focus + .rc-checkbox-inner {
    border-color: #000;
    background-color: #fff;
}
.rc-checkbox-checked .rc-checkbox-inner {
    background-color: #fff;
    border-color: #000;
}
.rc-checkbox-inner {
    border-color: #000;
    background-color: #fff;
}
.rc-checkbox-inner:after {
    border-color: #000;
    background-color: #fff;
}


.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;
    width: 43px;
    height: 24px;
}
    
.switch .input {
    opacity: 0;
    width: 0;
    height: 0;
}
    
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: .3s;
    transition: .3s;
}
    
.slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: #FFFFFF;
    -webkit-transition: .3s;
    transition: .3s;
}
    
.rc-checkbox-checked + .slider {
    background-color: #f5cb5c;
}
    
.rc-checkbox-checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
    
.slider {
    border-radius: 32px;
}
    
.slider:before {
    border-radius: 50%;
}